/** 노멀라이즈 시작 **/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
}

body,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
