/** 공통 스타일 **/

:root {
  /* --main-color: #343523; */
  --background-color: #f5f5f5;
  --text-color: #000000;
  --box-shadow: 1px 1px 10px #8cb09f;
  --point-color: #009951;
}

[date-theme="dark"] {
  --background-color: #343523;
  --text-color: #f5f5f5;
  --box-shadow: 1px 1px 10px #009951;
}
