/** GOOGLE FONT 


.asta-sans-<uniquifier > {
  font-family: "Asta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

**/

/** 노멀라이즈 끝 **/

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/** 공통 스타일 끝 **/

header,
main {
  background-color: var(--background-color);
}

h4,
h5,
p,
span {
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

/* ::-webkit-scrollbar-track {
  background: #343523;
} */

::-webkit-scrollbar-thumb {
  background-color: green;
  height: 5px;
  border-radius: 2px;
}

header {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

#portfolio {
  width: 100vw;
  height: auto;
  background-color: #343523;
  position: relative;
}

.main-section {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  text-align: right;
  color: #f5f5f5;
  padding: 40px;
}

.main-section .title_wrap {
  height: auto;
  width: 100%;
}

.main-section .title_wrap p {
  line-height: 0.2;
  text-align: right;
  font-size: 7rem;
  font-family: "Asta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title_wrap p:nth-child(1)::before {
  content: "⚯";
  transform: rotate(45deg);
}

.title_wrap p:nth-child(2)::before {
  content: "♦︎";
}

.title_wrap p:nth-child(4)::before {
  content: "♣︎";
}

.point_color {
  color: #009951;
}

.intro_wrap {
  width: 40%;
  height: auto;
}

.intro_wrap h3 {
  color: var(--text-color);
  line-height: 0.5;
  font-size: 2.4rem;
  font-weight: 500;
}

.intro_wrap p {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5;
}

/** SKILLS SECTION CUSTOM START **/

.skills-section {
  width: 95vw;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--text-color);
  border-radius: 30px;

  /** GLASS MORPHISM **/
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 5px 5px rgba(0, 0, 0, 0.1),
    inset 0 0 5px 5px rgba(205, 201, 193, 0.2);
  /* overflow: hidden;
  animation: stick 1s infinite;
  animation: return 1s infinite; */
}

.skills-section h3 {
  font-size: 2rem;
  margin: 0;
}

.skills-section .skills {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 30px 0;
}

.skills-section .skills li {
  /* flex-grow: 1; */
  width: max-content;
  height: auto;
  color: #686868;
  font-size: 1.6rem;
  font-weight: 700;
  align-content: center;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 20px;

  /** GLASS MORPHISM **/
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 5px 5px rgba(0, 0, 0, 0.1),
    inset 0 0 5px 5px rgba(205, 201, 193, 0.2);

  /* transition */
  transition: all 0.5s ease-out;
}

.skills-section .skills li:hover {
  cursor: pointer;
  transform: translateY(-10px);
  background-color: rgba(0, 0, 0, 0.1);
  color: #009951;
}

/** MOVING BANNER CUSTOM START **/

.moving_banner_wrap {
  width: 100vw;
  height: 30px;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
}

.moving_banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  background-color: #009951;
}

.moving_banner .banner_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner_container .banner_wrap {
  width: 100%;
  height: auto;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 10px;
}

.banner_container .banner_wrap span {
  color: #f5f5f5;
}

.banner_container .banner_wrap > .diamond {
  width: 20px;
  height: 20px;
  line-height: 1.5;
}

.diamond svg {
  width: 100%;
  height: 100%;
}

/** MOVING BANNER ANIMATION **/

.moving_banner_wrap .original {
  animation: rollingleft1 22s linear infinite;
}

.moving_banner_wrap .cloned {
  animation: rollingleft2 22s linear infinite;
}

/** MOVING BANNER KEYFRAME **/

@keyframes rollingleft1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rollingleft2 {
  0% {
    transition: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

/** 

NAVIGATION CUSTOM START **/

.fixed-nav {
  position: fixed;
  top: 30px;
  left: 0px;
  right: 0;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 10px 40px;
  z-index: 10;
  overflow: hidden;

  /** GLASS MORPHISM **/
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 5px 5px rgba(0, 0, 0, 0.1),
    inset 0 0 5px 5px rgba(205, 201, 193, 0.2);

  overflow: hidden;
  animation: stick 1s infinite;
  animation: return 1s infinite;
}

.fixed-nav .nav {
  width: 100%;
  flex-grow: 1;
}

.fixed-nav h1 {
  margin: 0;
  font-size: 1.1rem;
  text-align: left;
}

.fixed-nav .nav_part2 span {
  color: #009951;
}

.fixed-nav .nav_part3 {
  display: flex;
  justify-content: space-between;
}

.fixed-nav span {
  line-height: 1;
}

/** FIXED NAVIGATION KEYFRAMES **/

@keyframes stick {
  to {
    top: 0;
  }
}

@keyframes return {
  to {
    top: 30px;
  }
}

/** FIXED CONTACT BOX CUSTOM **/

#contact_box_wrap {
  width: 350px;
  height: 350px;
  position: fixed;
  display: flex;
  top: 40vh;
  left: 40px;
}

.contact_box {
  width: 100%;
  height: 100%;
  padding: 20px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 5px 5px rgba(0, 0, 0, 0.1),
    inset 0 0 10px 5px rgba(205, 201, 193, 0.2);
  position: relative;
  overflow: hidden;
  transition: 2s ease-in-out;
}

/* .glass-card {
  width: 240px;
  height: 360px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
} */

.contact_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
}

.contact_box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4),
    transparent,
    rgba(255, 255, 255, 0.1)
  );
}

.contact_close_btn {
  width: auto;
  height: 100%;
  align-content: center;
}

.contact_close_btn > button {
  height: 90%;
  background-color: #009951;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: 0;
}

/** CONTACT BOX ACTIVE CSS **/

.active {
  display: none;
}

.btn_position {
  transform: translateX(0);
  position: fixed;
  left: 0;
  top: 50%;
  height: 20%;
}

.icon-reverse {
  transform: rotate(180deg);
}

/** ABOUT ME PAGE CUSTOM **/

.about-me-section {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  margin: 20px 0;
  padding: 40px;
}

.about-me-section h3 {
  display: none;
}

.about-me-section .about-me-title {
  font-size: 2rem;
  font-weight: 700;
}

.about-me-wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.about-me-wrap > div {
  flex-grow: 1;
  flex: 1 1;
}

.about-me-wrap .introduce-part {
  align-self: end;
}

/** SCROLL TRIGGER SECTION CUSTOM START **/

.slide_section {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: 100px;
  text-align: center;
  overflow: hidden;
}

.slide_section p {
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-color);
}

.slider_wrap {
  width: 100%;
  height: 80vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  background-color: var(--background-color);
}

.slider_wrap .slides {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 50px;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  background-color: var(--background-color);
  border-radius: 30px;

  /** GLASS MORPHISM **/
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 5px 5px rgba(0, 0, 0, 0.1),
    inset 0 0 5px 5px rgba(205, 201, 193, 0.2);
}

.slider_wrap .slides img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: top;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  position: relative;
}

.slider_wrap .slides p {
  font-size: 3.2rem;
  line-height: 0;
  margin: 20px;
}

.slider_wrap .slides p:nth-child(1) {
  color: var(--point-color);
}

.slider_wrap .slides p:nth-child(3) {
  font-weight: 200;
  font-size: 2.8rem;
}

.slider_wrap .slides .slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider_wrap .slides .slide-content a {
  color: var(--point-color);
  width: max-content;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  /** GLASS MORPHISM **/
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 5px 5px rgba(0, 0, 0, 0.1),
    inset 0 0 5px 5px rgba(205, 201, 193, 0.2);
}

.slider_wrap .slides ul {
  display: flex;
  justify-content: center;
}

.slider_wrap .slides ul li {
  font-size: 1.4rem;
  background-color: var(--point-color);
  padding: 10px 25px;
  margin: 0 10px;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 700;
}
/** each slides custom **/

/** next section custom **/

.pro_part_slider {
  width: 100vw;
  height: 100vh !important;
  margin: 0 auto;
  position: relative;
}

/** slick slide section **/

.work_slider {
  margin: 0 auto;
  max-width: 100vw;
  height: auto;
  position: relative;
  inset: 0;
  padding: 100px;
  background-color: var(--background-color);
}

.slick-slider {
  position: absolute !important;
  width: 100%;
  height: auto;
  overflow: auto;
}

h1 {
  text-align: center;
}

.slick-slide {
  height: 600px !important;
  width: auto;
  opacity: 0.6;
  transform: scale(0.9);
  transition: all 0.5s ease;
  overflow-y: auto !important;
  padding: 0 !important;
  scrollbar-width: none;
  border-radius: 30px;
  box-sizing: border-box;
}

.slick-list {
  position: relative !important;
  width: 100%;
  height: auto;
  /* border: solid 2px purple; */
}

.slick-track {
  margin: 0 auto;
  margin: 100px;
  /* border: solid 2px green; */
}

.slick-center {
  transform: scale(1.1);
  opacity: 1;
  z-index: 3;
}

.work_slider_2 {
  z-index: 0;
}

.work_slider_3 {
  z-index: 1;
}

.work_slider .work {
  width: auto;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 0 10px;
  padding: 50px 0;
  box-shadow: 1px 1px 10px 5px rgba(205, 201, 193, 0.5);
}

.work img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slick-prev,
.slick-next {
  z-index: 3;
  opacity: 1;
}

.slick-prev {
  left: 0% !important;
  color: black;
}

.slick-next {
  right: 2.5% !important;
}

.slick-prev:before,
.slick-next:before {
  color: #009951 !important;
  font-size: 40px !important;
}

/* FOOTER CUSTOM START */

footer {
  background-color: #009951;
  width: 100%;
  height: 300px;
}

@media (min-width: 1440px) {
  .main-section .title_wrap p {
    line-height: 0.2;
    font-size: 4.8rem;
  }
}
